<!doctype html>
<html ng-app>
	<head>
		<title>Personal Assistant</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    		<script src="assistant.js"></script>

		<link rel="stylesheet" type="text/css" href="ng-prettyjson.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="ng-prettyjson.min.js"></script>
		<script type="text/javascript">
			var myApp = angular.module('myApp',[]);
			angular.module('myApp', ['ngPrettyJson']);
		</script>
	</head>

	<body>
		<div ng-controller="Assistant" ng-init="init('What is AngularJS?')" style="padding:10px;">
      			<label style="color:black;">Ask Me Anything:</label>
      			<input type="text" ng-model="input" placeholder="Enter your question here"> 
			&nbsp; <button ng-href='#' ng-click='init(input)' >ask me</button> -- <span style="color:black">Ex: 'Images of Velocity Aircraft' or 'What is a Phobia' or 'What is your name?' or 'Wiki Chicago'</span>
      			<hr>
			<div>
				<h1 ng-show="articleTitles != ''">{{articleTitles}}</h1>
			</div>

			<div class="mainimageshell">
    				<div class="viewwindow">
        				<ul id="fullscroller" class="fullsizelist" ng-style="listposition" >
            					<li ng-repeat="image in articleImage">
                					<img id="fullsize" class="large" ng-src="{{image}}" />
            					</li>
        				</ul>
    				</div>
			</div>
 
			<div class="captionshell">
				<div class="caption" ng-show="articleURL != ''">
					<a target="_blank" ng-href="{{articleURL}}">{{articleText}}</a>
				</div>

				<div class="caption" ng-show="articleURL == ''">
					<div ng-bind-html-unsafe="articleText">{{articleText}}</div>
				</div>
			</div>
 
			<div class="thumbsshell">
    				<div class="thumbswrapper">
        				<ul>
            					<li ng-repeat="image in articleImage">
                					<div class="thumbwrapper">
                    						<a ng-href="#" ng-click="scrollTo(image,$index);">
                        						<img class="thumbnail" ng-src="{{image}}" />
                    						</a>
                					</div>
            					</li>
        				</ul>
    				</div>
			</div>
		</div>

	</body>
</html>
