<!doctype html>
<html ng-app>
	<head>
		<title>Personal Assistant</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    		<script src="assistant.js"></script>

		<link rel="stylesheet" type="text/css" href="ng-prettyjson.min.css">
		<script type="text/javascript" src="ng-prettyjson.min.js"></script>
		<script type="text/javascript">
			var myApp = angular.module('myApp',[]);
			angular.module('myApp', ['ngPrettyJson']);
		</script>
	</head>

	<body>
		<div ng-controller="Assistant" ng-init="init('What is AngularJS?')">
      			<label>Ask Me Anything:</label>
      			<input type="text" ng-model="input" placeholder="Enter your question here"> 
			&nbsp; <a ng-href='#' ng-click='init(input)' >ask me</a>
      			<hr>
			<h1 ng-show="articleTitles != ''">{{articleTitles}}</h1>
			<div>
				<img ng-src="{{articleImage}}" ng-show="articleImage != ''" />
			</div>
			<div ng-if="articleText != ''">
				<div ng-show="articleURL != ''">
					<a target="_blank" ng-href="{{articleURL}}">{{articleText}}</a>
				</div>
				<div ng-show="articleURL == ''">
					{{articleText}}
				</div>
			</div>

			<br /><br />
			<pre pretty-json="jsonObj"> {{jsonObj | json}} </pre>
		</div>
	</body>
</html>
